In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches

In [4]:
path = "datasets/titanic.csv"
df = pd.read_csv(path)
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

1- **Given that only a few passenger survive, what are the odds that they are still alive today?**

ANSWER: None, they have all died by now.

2- **Given a passenger had over 5 siblings, what are the odds of their survival.**

ANSWER: The odds of survival for an individual with over 5 siblings and/or spouses is 0% **sad face**

In [15]:
sib_df = df[(df["SibSp"] > 5) & (df["Survived"] == 1)]
sib_df.describe()

       PassengerId  Survived  Pclass  Age  SibSp  Parch  Fare
count          0.0       0.0     0.0  0.0    0.0    0.0   0.0
mean           NaN       NaN     NaN  NaN    NaN    NaN   NaN
std            NaN       NaN     NaN  NaN    NaN    NaN   NaN
min            NaN       NaN     NaN  NaN    NaN    NaN   NaN
25%            NaN       NaN     NaN  NaN    NaN    NaN   NaN
50%            NaN       NaN     NaN  NaN    NaN    NaN   NaN
75%            NaN       NaN     NaN  NaN    NaN    NaN   NaN
max            NaN       NaN     NaN  NaN    NaN    NaN   NaN

3- **Given a passenger had no siblings/spouse/children onboard, what are the odds of their survival.**

ANSWER: The odds would be %30(.30) chance of survival

In [29]:
single_df = df[(df["SibSp"] == 0) & (df["Parch"] == 0)]
surv_single_df = df[(df["SibSp"] == 0) & (df["Parch"] == 0) & (df["Survived"] == 1)]

total_singles = 537 # Uncomment next line for proof.
# single_df.describe()

single_survivors = 163 # Uncomment next line for proof.
# surv_single_df.describe()

p = single_survivors/total_singles
p
# p = .30 or %30

0.30353817504655495

4- **Given that a passenger survived, what are the odds their age is under 18?**

ANSWER: Odds of survival for under age individual was %20

In [34]:
surv_df = df[df["Survived"] == 1]
under_df = df[(df["Survived"] == 1) & (df["Age"] < 18)]

t_surv = 342 # uncomment line below for proof.
# surv_df.describe()

t_under_surv = 61 # uncomment line below for proof.
# under_df.describe()

# = .20 or %20 odds of survival
p = t_under_surv/t_surv
p

0.1783625730994152

5- **Given that a passenger is over 30 years old, what are the odds they paid over $15 for a ticket?**

ANSWER: Odds are .6 or %60

In [37]:
old_df = df[df["Age"] > 30]
old_paid_over_15_df = df[(df["Age"] > 30) & (df["Fare"] > 15)]

t_old_people = 305
# old_df.describe()

over_15 = 183
# old_paid_over_15_df.describe()

# p = .6 or %60
p = over_15/t_old_people
p

0.6

6- **Given that a passenger survived, what are the chances they were 2nd class?**

ANSWER: Odds are .47 or 47%

In [44]:
t_second_df = df[df["Pclass"] == 2]
t_second_surv_df = df[(df["Pclass"] == 2) & (df["Survived"] == 1)]

t_second = 184
# t_second_df.describe()

t_second_surv = 87
# t_second_surv_df.describe()

p = t_second_surv/t_second
p

0.47282608695652173

7- **Given that a passenger embarked at Queenstown, what are the chances she is in first class? Second class? Third class?**

ANSWER: 
* P1st = 3%
* P2nd = 4%
* p3rd = 94%

In [65]:
q_pass_df = df[df["Embarked"] == "Q"]
t_first_df = df[(df["Embarked"] == "Q") & (df["Pclass"] == 1)]
t_second_df = df[(df["Embarked"] == "Q") & (df["Pclass"] == 2)]
t_third_df = df[(df["Embarked"] == "Q") & (df["Pclass"] == 3)]


t_q_pass = 77
# q_pass_df.describe()

t_q_first = 2
# t_first_df.describe()

t_q_second = 3
# t_second_df.describe()

t_q_third = 72
# t_third_df.describe()



# p_first = .025
# p1 = t_q_first/t_q_pass
# p1

# p_second = .038
# p2 = t_q_second/t_q_pass
# p2

p_third = .935
p3 = t_q_third/t_q_pass
p3

0.935064935064935

8- **Given that a passenger a passenger departed from Cherbourg, what is the probability that they paid more than $40 for a ticket?**

ANSWER: odds are 40%

In [68]:
c_pass_df = df[df["Embarked"] == "C"]
over_40 = df[(df["Embarked"] == "C") & (df["Fare"] > 40)]

t_c = 168
# c_pass_df.describe()

t_over_40 = 68
# over_40.describe()

p = t_over_40/t_c
p

0.40476190476190477

9- **Given that a passenger paid over $15, what are the odds they are over 30 years old?**

ANSWER: 42%

In [82]:
e = df[df["Fare"] > 15]
s = df[(df["Age"] > 30) & (df["Fare"] > 15)]

e_surv = 433
e.describe()

s_surv = 183
s.describe()

p = s_surv/e_surv
p

0.4226327944572748

10- **Given that a passenger paid over $100 for their ticket, what is the chance they survived?**

ANSWER: 74%

In [77]:
t = df[df["Fare"] > 100]
f = df[(df["Survived"] == 1) & (df["Fare"] > 100)]

t_surv = 53
# t.describe()

f_surv = 39
f.describe()

p = f_surv/t_surv
p

0.7358490566037735